.inputfild {
    display: flex;
    gap:1rem;
    border: 1px solid yellow;
    position: relative;
    top:-50px;
}
.inputfild > * {
    padding:1rem;
}
.inputfild input{
    flex:1;
    background-color: #262626;
}
.inputfild input:focus{
    background-color: #ffffff;
    color:black;
}
.inputfild button{
    padding-right: 2.5rem;
}